# Copy this file to a file named ".env" and fill in your values,
#   or set these as environment variables

# Your GitHub username"
# Local Development requires GITHUB_USERNAME environment variable.
# GITHUB_USERNAME is auto-set when running GitHub Actions.
GITHUB_USERNAME=type-your-username-here

# The ID of the gist you want to update (optional)
# Get this from the gist URL: https://gist.github.com/username/THIS-IS-THE-ID-TO-COPY
LIST_GIST_ID=paste-your-gist-id-here

# GitHub token with "gist" scope (required if updating a gist)
# Generate at: https://github.com/settings/tokens
GIST_TOKEN=paste-your-github-token-here

# Optional: custom filename for the markdown in the gist
TARGET_MD_FILENAME=Public-Gists.md
